div {
  border: 1px solid grey;
  margin: 5px;
  padding: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

body > div {
  width: 80%;
  height: 80vh;
}

#bed1 {

}

#bed2 {

}

#bed3{

}

#halfbath {

}

#fullbath {

}

#livroom {


}

#kitchen {
  display: flex;
  flex-direction: column;
}

#oven {
  width: 50%;
}

#sink {
  width: 50%;
}